<div class="admin-confirm">
  <div ng-if="!providers.showDeleteSuccess">
    <h2>Are you sure you want to delete this provider</h2>
    <div class="buttons-container">
      <button type="button" ng-click="providers.deleteProvider(provider.id)" class="button button--primary button--medium">Yes</button>
      <button type="button" ng-click="providers.cancelDelete()" class="button button--medium ">No</button>
    </div>
  </div>
  <div ng-if="providers.showDeleteSuccess" class="admin-success">
    <svg class="icon">
        <use xlink:href="#icon-checkmark"></use>
      </svg>
      <h2>Provider deleted</h2>
  </div>
</div>
