<admin-bar></admin-bar>
<div class="container admin">

  <div class="admin__form">
    <div class="admin__heading">
      <h1 ng-if="!prov.isNew">Edit provider</h1>
      <h1 ng-if="prov.isNew">New provider</h1>
    </div>
    <div ng-if="prov.saved" class="admin-success">
      <svg class="icon">
        <use xlink:href="#icon-checkmark"></use>
      </svg>
      <h2>Provider saved</h2>
    </div>

    <form ng-submit="prov.save()" ng-if="!prov.saved">
      <p>
        <label for="name">Name</label>
        <input type="text" ng-model="prov.provider.name" id="name" required />
      </p>

      <p>
        <label for="description">Description</label>
        <textarea ng-model="prov.provider.description" id="description" class="textarea--large"></textarea>
      </p>

      <p>
        <label for="phone">Phone</label>
        <input type="text" ng-model="prov.provider.phone" id="phone" />
      </p>

      <p>
        <label for="email">Email</label>
        <input type="email" ng-model="prov.provider.email" id="email" />
      </p>

      <p>
        <label for="website">Website</label>
        <input type="url" ng-model="prov.provider.website" id="website" />
      </p>

      <p>
        <label for="contactName">Contact Name</label>
        <input type="text" ng-model="prov.provider.contactName" id="contactName" />
      </p>

      <p>
        <label for="address">Address</label>
        <textarea ng-model="prov.provider.address" id="address"></textarea>
      </p>

      <p>
        <label for="postcode">Postcode</label>
        <input type="text" ng-model="prov.provider.postcode" id="postcode" />
      </p>

      <p ng-if="prov.errorMessage !== ''" class="validation--error">{{prov.errorMessage}}</p>

      <div class="buttons-container">
        <button ng-disabled="prov.saving" type="submit" class="button button--primary button--large">
          <span ng-if="!prov.saving">Save</span>
          <span ng-if="prov.saving">Saving...</span>
        </button>
      </div>
    </form>
  </div>
</div>
