<admin-bar></admin-bar>

<div class="container admin">

  <div class="admin__heading">
    <h1>Manage providers</h1>
    <a ng-href="/providers/new" class="button button--secondary">Add new</a>
  </div>

  <ul class="admin__list">
    <li ng-repeat="provider in $ctrl.providers | orderBy: 'name'">
      {{provider.name}}
      <div class="admin__list-actions">
        <a ng-href="/providers/{{provider.id}}/edit" class="button button--primary">Edit</a>
        <button type="button" ng-click="$ctrl.confirmDelete(provider.id)" class="button button--primary">Delete</button>
      </div>
    </li>
  </ul>

</div>
