<admin-bar></admin-bar>
<form ng-submit="prov.save()" ng-if="!prov.saved">
<div class="container admin-form-container">

  <div class="admin__form">
    <div class="admin__heading">
      <h1 ng-if="!prov.isNew">Edit provider</h1>
      <h1 ng-if="prov.isNew">New provider</h1>
    </div>
    <div ng-if="prov.saved" class="admin-success">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-checkmark"></use>
      </svg>
      <h2>Provider saved</h2>
    </div>


      <p>
        <label for="name">Name</label>
        <input type="text" ng-model="prov.provider.name" id="name" required />
      </p>

      <p>
        <label for="description">Description</label>
        <textarea ui-tinymce="tinymceOptions" ng-model="prov.provider.description"></textarea>
      </p>

      <p>
        <label for="phone">Phone</label>
        <input type="text" ng-model="prov.provider.phone" id="phone" />
      </p>

      <p>
        <label for="email">Email</label>
        <input type="email" ng-model="prov.provider.email" id="email" />
      </p>

      <p>
        <label for="website">Website</label>
        <input type="url" ng-model="prov.provider.website" id="website" />
      </p>

      <p>
        <label for="facebook">Facebook</label>
        <input type="text" ng-model="prov.provider.facebook" id="facebook" />
      </p>

      <p>
        <label for="twitter">Twitter</label>
        <input type="text" ng-model="prov.provider.twitter" id="twitter" />
      </p>

      <p>
        <label for="contactName">Contact Name</label>
        <input type="text" ng-model="prov.provider.contactName" id="contactName" />
      </p>

      <p>
        <label for="address">Address</label>
        <textarea ng-model="prov.provider.address" id="address"></textarea>
      </p>

      <p>
        <label for="postcode">Postcode</label>
        <input type="text" ng-model="prov.provider.postcode" id="postcode" />
      </p>



  </div>

  <div class="admin__secondary">
    <div class="form-section">
        <h2>Review information</h2>

        <label for="lastReviewDate">Last review date</label>
        <datepicker date-format="dd MMM yyyy">
          <input type="text" ng-model="prov.provider.lastReviewDate" id="lastReviewDate" />
        </datepicker>

        <p>
          <label for="lastReviewedBy">Last reviewed by</label>
          <input type="text" ng-model="prov.provider.lastReviewedBy" id="lastReviewedBy" />
        </p>

        <p>
          <label for="lastReviewComments">Last review comments</label>
          <textarea ng-model="prov.provider.lastReviewComments" id="lastReviewComments"></textarea>
        </p>

        <label for="nextReviewDate">Next review date</label>
        <datepicker date-format="dd MMM yyyy">
          <input type="text" ng-model="prov.provider.nextReviewDate" id="nextReviewDate" />
        </datepicker>

        <p>
          <label for="nextReviewComments">Next review comments</label>
          <textarea ng-model="prov.provider.nextReviewComments" id="nextReviewComments"></textarea>
        </p>
      </div>
  </div>

  <div class="admin__actions">
    <p ng-if="prov.errorMessage !== ''" class="validation--error">{{prov.errorMessage}}</p>

      <div class="buttons-container">
        <button ng-disabled="prov.saving" type="submit" class="button button--primary button--large">
          <span ng-if="!prov.saving">Save</span>
          <span ng-if="prov.saving">Saving...</span>
        </button>
      </div>
  </div>
</div>
</form>
