<div ng-controller="ServiceController as $ctrl">
  <div ng-if="$ctrl.deleted">
    <p>Service deleted</p>
  </div>
  <article class="details" ng-if="!$ctrl.deleted">
    <h2 class="details__heading">
      <span ng-if="$ctrl.errors.show">{{$ctrl.errors.message}}</span>
      <strong ng-if="$ctrl.details.hidden">DRAFT:&nbsp;</strong>
      {{ $ctrl.details.name }}
    </h2>

    <div class="details__admin">
      <span ng-if="$ctrl.AuthService.isAuthenticated">
        <span ng-if="!$ctrl.showDeleteConfirmation">
          <a ng-href="/services/{{$ctrl.details.id}}/edit"  class="button">Edit</a>
          <button type="button" class="button" ng-click="$ctrl.confirmDelete()">Delete</button>

        </span>
        <span class="details__confirm" ng-if="$ctrl.showDeleteConfirmation">
          <strong>Are you sure?</strong>
          <button type="button" class="button button--primary" ng-click="$ctrl.deleteService($ctrl.id)">Yes, delete it</button>
          <button type="button" class="button" ng-click="$ctrl.cancelDelete()">No</button>
        </span>
      </span>

      <button type="button" class="button details__print" ng-if="!$ctrl.showDeleteConfirmation" ng-click="$ctrl.print()">Print</button>

      <a href="mailto:admin@sheffield.cityofsanctuary.org?subject=Asylum Journey Service Feedback: {{$ctrl.details.name}}" class="feedback button help" ng-if="!$ctrl.showDeleteConfirmation">Send us feedback</a>
    </div>

    <div class="details__inner">

      <div class="details__block">

        <div class="details__section details__description" ng-class="{'format-text' : $ctrl.formatDescription}" ng-bind-html="$ctrl.details.description"></div>

        <p ng-if="$ctrl.details.endDate"><strong>End Date:</strong> {{ $ctrl.details.endDate | date }}</p>

        <div class="details__section details__section--review" ng-if="$ctrl.AuthService.isAuthenticated">
          <p>Last reviewed: {{$ctrl.details.lastReviewDate | date: 'dd MMM yyyy'}}
          <span ng-if="$ctrl.details.lastReviewedBy"> by {{$ctrl.details.lastReviewedBy}}</span>
          <span ng-if="$ctrl.details.lastReviewComments"><br>Comments: {{$ctrl.details.lastReviewComments}}</span></p>
          <p>Next review date: {{$ctrl.details.nextReviewDate | date: 'dd MMM yyyy'}}
          <span ng-if="$ctrl.details.nextReviewComments"><br>Comments: {{$ctrl.details.nextReviewComments}}</span></p>
          <p ng-if="$ctrl.details.externalReviews">External reviews: {{$ctrl.details.externalReviews}}</p>
        </div>

      </div>

      <div class="details__block">

        <div class="details__section" ng-if="$ctrl.details.events">
          <h3 class="details__sub-heading">Classes &amp; Events</h3>
          <div ng-class="{'format-text' : $ctrl.formatDescription}" ng-bind-html="$ctrl.details.events"></div>
        </div>

        <div class="details__section" ng-if="($ctrl.details.resources.length && !$ctrl.details.hideResources) || ($ctrl.AuthService.isAuthenticated && $ctrl.details.resources.length)">
          <h3 class="details__sub-heading">Printable resources</h3>
          <ul>
            <li ng-repeat="resource in $ctrl.details.resources | orderBy: 'name'" ng-if="!resource.expired || resource.expired && $ctrl.AuthService.isAuthenticated">
              <svg class="icon expired-icon" ng-if="resource.expired && $ctrl.AuthService.isAuthenticated">
                <use xlink:href="#icon-warning"></use>
              </svg>
              <a href="{{resource.url}}" target="_blank">{{resource.name}}</a>
              <strong ng-if="resource.expired && $ctrl.AuthService.isAuthenticated">Expired: {{ resource.expiryDate | date }}</strong>
            </li>
          </ul>
        </div>

        <div class="details__section" ng-if="$ctrl.details._embedded.providers">
          <h3 class="details__sub-heading details__sub-heading--providers">Providers</h3>

          <div ng-repeat="provider in $ctrl.details._embedded.providers | orderBy: 'name'" class="details__provider">
            <h4>
              <button class="details__provider-heading" ng-click="provider.show = !provider.show">
                {{ provider.name }}
                <span class="details__provider-indicator">{{ provider.show ? 'Hide' : 'Show' }}</span>
              </button>
            </h4>
            <div class="details__provider-content" ng-show="provider.show">
              <div class="details__description" ng-class="{'format-text' : provider.formatDescription}" ng-bind-html="provider.description"></div>
              <p ng-if="provider.phone"><strong>Tel:</strong> {{ provider.phone }}</p>
              <p ng-if="provider.email"><strong>Email:</strong> <a href="mailto:{{ provider.email }}">{{ provider.email }}</a></p>
              <p ng-if="provider.website"><strong>Website:</strong> <a href="{{ provider.website }}" target="_blank">{{ provider.website }}</a></p>
              <p ng-if="provider.facebook"><strong>Facebook:</strong> <a href="{{ provider.facebook }}" target="_blank">{{ provider.facebook }}</a></p>
              <p ng-if="provider.twitter"><strong>Twitter:</strong> <a href="{{ provider.twitter }}" target="_blank">{{ provider.twitter }}</a></p>
              <p ng-if="provider.address"><strong>Address:</strong>
                <a href="{{ provider.addressUrl }}" target="_blank">{{ provider.address }}, {{ provider.postcode }}</a>
              </p>
              <p ng-if="$ctrl.AuthService.isAuthenticated"><a ng-href="/providers/{{provider.id}}/edit?service={{$ctrl.details.id}}" class="button details__edit-provider">Edit</a></p>
              <div class="details__section details__section--review" ng-if="$ctrl.AuthService.isAuthenticated">
                  <p>Last reviewed: {{provider.lastReviewDate | date: 'dd MMM yyyy'}}
                    <span ng-if="provider.lastReviewedBy"> by {{provider.lastReviewedBy}}</span>
                  <span ng-if="provider.lastReviewComments"><br>Comments: {{provider.lastReviewComments}}</span></p>
                  <p>Next review date: {{provider.nextReviewDate | date: 'dd MMM yyyy'}}
                  <span ng-if="provider.nextReviewComments"><br>Comments: {{provider.nextReviewComments}}</span></p>
                  <p ng-if="provider.providerContact"><br>Provider contact: {{provider.providerContact}}</p>
              </div>
            </div>
          </div>
        </div>



      </div>

    </div>
    <div class="details__bottom">
      <ul class="tag-list">
        <li ng-repeat="stage in $ctrl.details._embedded.stages" class="tag-list__tag bg-stage-{{ stage.id }}">{{ stage.name }}</li>
        <li ng-repeat="category in $ctrl.details._embedded.categories" class="tag-list__tag">{{ category.name }}</li>
      </ul>

      <p class="permalink-container">
        <label for="permalink">Permanent link:</label for="permalink">
        <input type="text" id="permalink" disabled value="{{$ctrl.path}}/service/{{$ctrl.details.id}}" class="permalink" />
      </p>
    </div>
  </article>
</div>
