<admin-bar></admin-bar>

<div class="container admin">

  <div class="admin__heading">
    <h1>Manage services</h1>
    <a ng-href="/services/new" class="button button--secondary">Add new</a>
  </div>
  
  <button ng-click="$ctrl.toggleShowExpiredOnly()" class="button button--secondary">
    <span ng-if="!$ctrl.showExpiredOnly">Show expired only</span>
    <span ng-if="$ctrl.showExpiredOnly">Show all</span>
  </button>

  <ul class="admin__list">
    <li ng-repeat="service in $ctrl.services | orderBy:$ctrl.order" ng-if="!$ctrl.showExpiredOnly || $ctrl.showExpiredOnly && service.expired">
      {{service.name}}
      <div class="admin__list-actions">
        <span class="admin__list-expiry" ng-class="{'admin__list-expiry--expired': service.reviewDue}">
          <span ng-if="service.reviewDue">Review date: </span>
          <span ng-if="!service.reviewDue && service.nextReviewDate">Review due: </span>
          <span>{{service.displayNextReviewDate}}</span>
      </span>
        <a ng-href="/services/{{service.id}}/edit" class="button button--primary">Edit</a>
        <button type="button" ng-click="$ctrl.confirmDelete(service.id)" class="button button--primary">Delete</button>
      </div>
    </li>
  </ul>

</div>
