<div>
  <div ng-if="service.deleted">
    <p>Service deleted</p>
  </div>
  <article class="details" ng-if="!service.deleted">
    <h2 class="details__heading">
      <span ng-if="service.details._embedded.issues" class="details__alert">
        <svg class="icon icon-warning"><use xlink:href="#icon-warning"></use></svg>
        <i>Warning</i>
      </span>
      {{ service.details.name }}
    </h2>

    <div ng-if="service.authService.isAuthenticated">
    <a ng-href="#/services/{{service.details.id}}/edit"  class="button">Edit</a>
    <button type="button" class="button" ng-click="service.deleteService()">Delete</button>
    </div>

    <div class="details__inner">

      <div class="details__section">

        <p ng-bind-html="service.details.description | linky"></p>
        <p ng-if="service.details.endDate"><strong>End Date:</strong> {{ service.details.endDate | date }}</p>

        <div ng-if="service.details._embedded.issues">
          <h3 class="details__sub-heading">Gaps or issues</h3>
          <p ng-repeat="issue in service.details._embedded.issues">{{ issue.name }}</p>
        </div>

      </div>

      <div class="details__section">

        <div ng-if="service.details._embedded.providers">
          <h3 class="details__sub-heading details__sub-heading--providers">Providers</h3>

          <div ng-repeat="provider in service.details._embedded.providers" class="details__provider">
            <h4>
              <button class="details__provider-heading" ng-click="provider.show = !provider.show">
                {{ provider.name }}
                <span class="details__provider-indicator">{{ provider.show ? 'Hide' : 'Show' }}</span>
              </button>
            </h4>
            <div ng-show="provider.show">
              <p>{{ provider.description }}</p>
              <p ng-if="provider.phone"><strong>Tel:</strong> {{ provider.phone }}</p>
              <p ng-if="provider.email"><strong>Email:</strong> <a href="mailto:{{ provider.email }}">{{ provider.email }}</a></p>
              <p ng-if="provider.website"><strong>Website:</strong> <a href="{{ provider.website }}">{{ provider.website }}</a></p>
              <p ng-if="provider.address"><strong>Address:</strong>
                <a href="{{ provider.addressUrl }}" target="_blank">{{ provider.address }}, {{ provider.postcode }}</a>
              </p>
              <p ng-if="service.authService.isAuthenticated"><a ng-href="#/providers/{{provider.id}}/edit" class="button">Edit</a></p>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="details__bottom">
      <ul class="tag-list">
        <li ng-repeat="stage in service.details._embedded.stages" class="tag-list__tag tag-list__tag--stage-{{ stage.id }}">{{ stage.name }}</li>
        <li ng-repeat="category in service.details._embedded.categories" class="tag-list__tag">{{ category.name }}</li>
        <li ng-repeat="serviceUser in service.details._embedded.serviceUsers" class="tag-list__tag">{{ serviceUser.name }}</li>
      </ul>

      <p class="permalink-container">
        <span>Permanent link:</span>
        <input type="text" disabled value="{{service.path}}/#/service/{{service.details.id}}" class="permalink" />
      </p>
    </div>
  </article>
</div>
