<admin-bar></admin-bar>
<div class="container admin">

  <div class="admin__form">
    <div class="admin__heading">
      <h1 ng-if="!service.isNew">Edit service</h1>
      <h1 ng-if="service.isNew">New service</h1>
    </div>

    <div ng-if="service.saved" class="admin-success">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-checkmark"></use>
      </svg>
      <h2>Service saved</h2>
    </div>

    <form ng-submit="service.save()" ng-if="!service.saved">
      <p>
        <label for="name">Name *</label>
        <input type="text" ng-model="service.service.name" id="name" required />
      </p>

      <p>
        <label for="description">Description *</label>
        <textarea ng-model="service.service.description" id="description" class="textarea--large" required=""></textarea>
      </p>

      <label for="endDate">End date</label>
      <datepicker date-format="dd MMM yyyy">
        <input type="text" ng-model="service.service.endDate" id="endDate" />
      </datepicker>

      <p>
        <label for="dataMaintainer">Data maintainer</label>
        <input type="text" ng-model="service.service.dataMaintainer" id="dataMaintainer" />
      </p>

      <p>
        <label for="events">Classes &amp; Events</label>
        <textarea ng-model="service.service.events" id="events" class="textarea--large"></textarea>
      </p>

      <div class="form-section">
        <label for="resources">Printable resources</label>
        <div class="inline-fields" ng-repeat="resource in service.service.resources">
          <div>
            <label for="resourceName-{{$index}}" class="sr-only">Name</label>
            <input type="text" id="resourceName-{{$index}}" ng-model="resource.name" placeholder="Name" />
          </div>
          <div>
            <label for="resourceUrl-{{$index}}" class="sr-only">Url</label>
            <input type="url" id="resourceUrl-{{$index}}" ng-model="resource.url" placeholder="URL" ng-required="resource.name" />
          </div>
          <button type="button" ng-click="service.removeResource($index)">Remove</button>
        </div>

        <button type="button" class="button button--secondary" ng-click="service.addResource()">Add new</button>
      </div>

      <p>
        <label for="categories" class="has-field-info">Categories *
          <button type="button" class="field-info" ng-click="service.categoriesInfo()">
            <svg class="icon">
              <use xlink:href="#icon-info"></use>
            </svg>
            <span class="sr-only">Info</span>
          </button>
        </label>
        <ui-select multiple ng-model="service.service._embedded.categories" name="categories" id="categories">
          <ui-select-match placeholder="Select categories">
              <span ng-bind="$item.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in (service.categories | filter: $select.search | orderBy: 'name') track by item.id">
              <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </p>

      <p>
        <label for="providers">Providers</label>
        <ui-select multiple ng-model="service.service._embedded.providers" name="providers" id="providers">
          <ui-select-match placeholder="Select providers">
              <span ng-bind="$item.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in (service.providers | filter: {name: $select.search} | orderBy: 'name') track by item.id">
              <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </p>

      <p>
        <label for="serviceUsers">Service Users *</label>
        <ui-select multiple ng-model="service.service._embedded.serviceUsers" name="serviceUsers" id="serviceUsers">
          <ui-select-match placeholder="Select service users">
              <span ng-bind="$item.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in (service.serviceUsers | filter: $select.search | orderBy: 'name') track by item.id">
              <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </p>

      <p>
        <label for="stages" class="has-field-info">Stages *
          <button type="button" class="field-info" ng-click="service.stagesInfo()">
            <svg class="icon">
              <use xlink:href="#icon-info"></use>
            </svg>
            <span class="sr-only">Info</span>
          </button></label>
        <ui-select multiple ng-model="service.service._embedded.stages" name="stages" id="stages">
          <ui-select-match placeholder="Select stages">
              <span ng-bind="$item.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in (service.stages | filter: $select.search) track by item.id">
              <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </p>

      <p>
        <label for="issues">Issues</label>
        <ui-select multiple ng-model="service.service._embedded.issues" name="issues" id="issues">
          <ui-select-match placeholder="Select issues">
              <span ng-bind="$item.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in (service.issues | filter: $select.search | orderBy: 'name') track by item.id">
              <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </p>

      <p ng-if="service.errorMessage !== ''" class="validation--error">{{service.errorMessage}}</p>

      <div class="buttons-container">
        <button ng-disabled="service.saving" type="submit" class="button button--primary button--large">
          <span ng-if="!service.saving">Save</span>
          <span ng-if="service.saving">Saving...</span>
        </button>
      </div>
    </form>
  </div>
</div>
