$numColumnsSmall: 7;
$numColumns: 8;
.tool {
  padding: 44px 0 $vr*9 0;
  transform: padding 0.3s ease;

  @media #{$BPD} {
    padding-top: 80px;
  }


  &.filters-open {
    padding-top: 202px;

    @media #{$BPD} {
      padding-top: 148px;
    }

  }
}

.tool-stages {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 36px;
  bottom: 0;
  left: 0;

  // required to force text to wrap in IE10
  .tool-stages__stage {
    position: relative;
    span {
      max-width: 100%;
      display: block;
      height: 28px;
      overflow: hidden;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.tool-stages__stage,
.tool-category__stage {
  flex: 1 1;
  min-width: 0;

  &.tool-category__stage--cols-1 {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 50%;
      margin-bottom: 10px;

      @media #{$BPD} {
        width: 20%;
      }
    }
  }
}

.tool-stages__stage.brand,
.no-flexbox .tool-stages__stage,
.no-flexbox .tool-category__stage {
  width: percentage(1/$numColumnsSmall);
  flex: none;

  @media #{$BPE} {
    width: percentage(1/$numColumns);
  }
}


.tool-category__heading {
  flex: none;

  @media #{$BPE} {
    width: percentage(1/$numColumns);
  }
}

.tool-stages__stage {
  height: 100%;
  align-items: center;
  display: flex;
  padding: $vr;
  color: white;
  font-size: 12px;
  line-height: 1.2;
  font-weight: bold;
  overflow: hidden;

  &.tool-stages__stage--1 {
    background: $stage-1-color;
  }
  &.tool-stages__stage--2 {
    background: $stage-2-color;
  }
  &.tool-stages__stage--3 {
    background: $stage-3-color;
  }
  &.tool-stages__stage--4 {
    background: $stage-4-color;
  }
  &.tool-stages__stage--5 {
    background: $stage-5-color;
  }
  &.tool-stages__stage--6 {
    background: $stage-6-color;
  }
  &.tool-stages__stage--7 {
    background: $stage-7-color;
  }

  &.brand {
    display: none;

    @media #{$BPE}{
      display: block;
    }
    h1 {
      font-weight: 400;
      display: inline-block;
    }
    img {
      display: inline-block;
      height: 30px;
      position: relative;
      top: -5px;
      padding-right: 5px;
    }
  }
}

.tool-category {
  position: relative;
  display: flex;
  border-top: 1px solid #CCC;
  padding-top: $vr*8;
  margin-bottom: $vr*2;

  &:first-of-type {
    border-top: none;
  }
}

.tool-category__heading {
  position: absolute;
  top: 0;
  padding: $vr;
  font-weight: 400;
  font-size: $font-size-base;
}

@keyframes bcnloader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.tool__loader {
  height: $vr*16;
  width: $vr*16;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -$vr*8;
  margin-left: -$vr*8;
  text-align: center;
  img {
    width: $vr*10;
    animation: bcnloader 1s infinite ease-in-out;
  }
}

@media(min-width: $break-point-e-px) {
  .tool-stages__stage {
  }
  .tool-category {
    padding-top: $vr*2;
  }
  .tool-category__heading {
    position: relative;
    // font-size: 16px;
    padding: $vr $vr $vr*2 $vr;
    margin: 0;
  }
}

@media(min-width: $break-point-f-px) {
  .tool {
    padding-top: $vr*13
  }

}
