{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true,
    "amd": true
  },
  "globals": {
    "angular": true,
    "inject": true,
    "ga": true,
    "module": true,
    "window": true,
    "AutoLinker": true
  }
}
