.filters {
	background: white;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	border-top: 2px solid $grey-b;
	z-index: 10;

	display: flex;

	.button {
		margin: 8px 5px;
	}
}

.filters__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
}

.filter {
	font-size: $font-size-small;
	flex-grow: 1;
	border-right: 1px solid #ccc;

	.no-flexbox & {
		float: left;
	}
}

.filter__toggle {	
	padding-bottom: 8px;
}

.filter__toggle,
.filter__button {
	padding: $vr*2;
	background: none;
	border: none;
	border-bottom: 4px solid #fff;
	text-align: left;
	width: 100%;
	cursor: pointer;
	.icon {
		float: left;
		height: 20px;
		width: 20px;
	}
	.icon-warning {
		fill: $color-warning;
	}
}

.filter__button--active {
	border-bottom: 4px solid $stage-3-color;
}

.filter__list {
	position: absolute;
	bottom: 47px;
	width: 300px;
	max-width: 100%;
	background: white;
	box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1), -1px 0px 4px rgba(0, 0, 0, 0.1), 1px 0px 4px rgba(0, 0, 0, 0.1);
}

.filter__list--overlay {
	position: relative;
	width: 100%;
	bottom: auto;
	box-shadow: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	.filter__list-item {
		width: 48%;
		margin: 0 1%;
	}
}

.filter__list-item {
	border-bottom: 1px solid #ccc;
		button {
			span {
				font-weight: 600;
				font-size: 18px;
			}
		}
		&:last-child {
			border: none;
		}
}

.filter__toggle--active {
	border-bottom: 4px solid $stage-3-color;
}
