<div class="filters">
	<div ng-if="overview.searchText" class="search-term">
		<p>Current search term: {{overview.searchText}}
		<button type="button" ng-click="overview.resetSearch()">
		Clear Search</button>
		</p>
	</div>
	<button class="filter__toggle filter__mobile-toggle" ng-click="overview.toggleFilters()">
		<svg class="icon">
			<use xlink:href="#icon-filter"></use>
		</svg>
		Filter
	</button>
	<div class="filter-menu" ng-class="{'filter-menu--active': overview.showFilters}">
		<div class="filter">
			<button type="button" class="filter__toggle" ng-class="{ 'filter__toggle--active': overview.showIssues}" ng-click="overview.toggleIssues()">
				<svg class="icon icon-warning">
					<use xlink:href="#icon-warning"></use>
				</svg>
				Gaps/issues
			</button>
		</div>

		<div class="filter">
			<button type="button" class="filter__toggle" ng-class="{ 'filter__toggle--active': overview.currentFilters.stage}" ng-click="overview.expandStageFilters(overview.showStageFilters)">
				Stage
			</button>
			<ul class="filter__list" ng-show="overview.showStageFilters">
				<li class="filter__list-item" ng-repeat="stage in overview.stages">
					<button type="button" class="filter__button" ng-class="{ 'filter__button--active': stage.filtered}" ng-click="overview.filterStage(stage.id)">
						{{stage.name}}
					</button>
				</li>

			</ul>
		</div>

		<div class="filter">
			<button type="button" class="filter__toggle toggle" ng-class="{ 'filter__toggle--active': overview.currentFilters.category}" ng-click="overview.expandCategoryFilters(overview.showCategoryFilters)">
				Category
			</button>
			<ul class="filter__list" ng-show="overview.showCategoryFilters">
				<li class="filter__list-item" ng-repeat="category in overview.categories">
					<button type="button" class="filter__button" ng-class="{ 'filter__button--active': category.filtered}" ng-click="overview.filterCategory(category.id)">

						{{category.name}}
					</button>
				</li>
			</ul>
		</div>

		<div class="filter">
			<button type="button" class="filter__toggle toggle" ng-class="{ 'filter__toggle--active': overview.currentFilters.serviceUser}" ng-click="overview.expandServiceUserFilters(overview.showServiceUserFilters)">
				Service user
			</button>
			<ul class="filter__list" ng-show="overview.showServiceUserFilters">
				<li class="filter__list-item" ng-repeat="serviceUser in overview.serviceUsers">
					<button type="button" class="filter__button" ng-class="{ 'filter__button--active': serviceUser.filtered}" ng-click="overview.filterServiceUser(serviceUser.id)">

						{{serviceUser.name}}
					</button>
				</li>
			</ul>
		</div>

		<div class="filter">
			<button type="button" class="filter__toggle toggle" ng-class="{ 'filter__toggle--active': overview.currentFilters.provider}" ng-click="overview.expandProviderFilters(overview.showProviderFilters)">
				Providers
			</button>
		</div>

		<div class="filter">
			<button type="button" class="button" ng-click="overview.resetAll()">Clear filters</button>

			<button ng-click="overview.openDialog()" class="button help">Help with this tool</button>

			<a href="http://goo.gl/forms/3helLLSBgK5qRvpg1" target="_blank" class="feedback button help">Feedback</a>

			<button type="button" class="search-button" ng-click="overview.showSearchForm()">
				<svg class="icon">
					<use xlink:href="#icon-search"></use>
				</svg>
				<span>Search</span>
			</button>
		</div>
	</div>
</div>

<div class="filters__overlay" ng-show="overview.showStageFilters || overview.showCategoryFilters || overview.showServiceUserFilters || overview.showProviderFilters" ng-click="overview.closeFilters()"></div>
