.filters {
  background: white;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 2px solid $grey-b;
  z-index: 10;
    
    .feedback {
        float: right;
        margin: 10px 10px;
        text-decoration: none;
        color: $grey-a;
        padding: 1px 5px;
        
      }
    
   button.button {
      margin-top: 10px;
       margin-left: 5px;
      }
}

.filters__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
}

.filter { font-size: $font-size-small;
  float: left;
  width: 300px;
  margin-right: $vr;
  border-right: 1px solid #ccc;
    
    button {
        border-bottom: 4px solid #fff ;
        padding-bottom: 8px;
        
        &.filter__button--active {
            border-bottom: 4px solid red;        
        }
    }
    
}

.filter__toggle,
.filter__button  {
  padding: $vr*2;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;

	.icon {
		height: 20px;
		width: 20px;
		display: inline-block;
		vertical-align: sub;
	}

	.icon-warning {
		fill: $color-warning;
	}
}


    


.filter__list {
  position: absolute;
  bottom: 50px;
  width: 300px;
  background: white;
  box-shadow: 0px -1px 4px rgba(0,0,0,0.1),
        -1px 0px 4px rgba(0,0,0,0.1),
        1px 0px 4px rgba(0,0,0,0.1);


  li {
    border-bottom: 1px solid #ccc;
      
      button {
          
          span {
              font-weight: 600;
              font-size: 18px;
          }
      }
      
      

    &:last-child {
      border: none;
    }
      

  }
}
       .filter__button--active {
            border-bottom: 4px solid red;        
        }

//        .filter__button--active {
//    border-left: 4px solid red;
//    border-bottom: 0 px solid;        }