<div class="filters">
    <div class="filter">
        <button type="button" class="filter__toggle" ng-class="{ 'filter__toggle--active': overview.showIssues}" ng-click="overview.toggleIssues()">
			<svg class="icon icon-warning">
				<use xlink:href="#icon-warning"></use>
			</svg>
			Gaps/issues
		</button>
    </div>

    <div class="filter">
        <button type="button"
            class="filter__toggle"
            ng-class="{ 'filter__toggle--active': overview.currentFilters.stage}"
            ng-click="overview.expandStageFilters(overview.showStageFilters)">
            Stage
        </button>
        <ul class="filter__list" ng-show="overview.showStageFilters">
            <li ng-repeat="stage in overview.stages">
                <button type="button" class="filter__button" ng-class="{ 'filter__button--active': stage.filtered}" ng-click="overview.filterStage(stage.id)">
                    {{stage.name}}
                </button>
            </li>

        </ul>
    </div>

    <div class="filter">
        <button type="button"
            class="filter__toggle"
            ng-class="{ 'filter__toggle--active': overview.currentFilters.category}"
            ng-click="overview.expandCategoryFilters(overview.showCategoryFilters)">
            Category
        </button>
        <ul class="filter__list" ng-show="overview.showCategoryFilters">
            <li ng-repeat="category in overview.categories">
                <button type="button" class="filter__button" ng-class="{ 'filter__button--active': category.filtered}" ng-click="overview.filterCategory(category.id)">
             
                    {{category.name}}
                </button>
            </li>
        </ul>
    </div>

    <button type="button" class="button" ng-click="overview.resetAll()">Clear filters</button>
    
    <button ng-click="overview.openDialog()" class="button help">Help with this tool</button>
    
    <a href="http://goo.gl/forms/3helLLSBgK5qRvpg1" target="_blank" class="feedback button help">Feedback</a>

</div>

<div class="filters__overlay" ng-show="overview.showStageFilters || overview.showCategoryFilters" ng-click="overview.closeFilters()"></div>
