<article class="details">
  <h2 class="details__heading">
    Providers
  </h2>

  <ul class="filter__list filter__list--overlay">
    <li class="filter__list-item" ng-repeat="provider in $ctrl.providers | orderBy: 'name'">
      <button type="button" class="filter__button" ng-class="{ 'filter__button--active': provider.filtered}" ng-click="$ctrl.filterServices(provider.id, 'providers')">
        {{provider.name}}
      </button>
      <button class="button" ng-click="$ctrl.showProvider(provider.id)">View</button>
    </li>
    <li class="filter__list-item">
      <button type="button"
        class="filter__show-all-button"
        ng-click="$ctrl.resetFilterType('providers')"
        ng-disabled="!$ctrl.currentFilters.providers.length || $ctrl.currentFilters.providers.length === $ctrl.providers.length"
      >
        Show all providers
      </button>
    </li>
</ul>
</article>
