<div ng-controller="OverviewController as overview" class="overview" ng-class="{'show-issues': overview.showIssues}">

    <ul class="overview-stages">
        <li class="overview-stages__stage brand">
            <img src="/app/images/logo-basic.png"> <h1>The Asylum Journey</h1>
<!--            <button ng-click="overview.openDialog()" class="button">What's this?</button>-->
        </li>
        <li ng-if="stage.display" ng-repeat="stage in overview.stages" class="overview-stages__stage overview-stages__stage--{{stage.id}}">
            <span>{{stage.name}}</span>
        </li>
    </ul>


    <div ng-if="overview.showLoader" class="overview__loader">
        <img ng-src="/app/images/loader-logo.svg" alt="Loading" />
        Loading...
    </div>

    <div ng-if="category.display && !overview.showLoader" ng-repeat="category in overview.categories" class="overview-category">

        <h2 class="overview-category__heading">{{category.name}}</h2>

        <ul ng-if="stage.display" class="overview-category__stage overview-category__stage-{{stage.id}}" ng-repeat="stage in overview.stages">
            <li ng-repeat="service in overview.services | category: category.id | stage: stage.id">
                <card service="service"></card>
            </li>
        </ul>

    </div>

    <filters></filters>

</div>
