$numColumnsSmall: 6;
$numColumns: 7;

.overview-stages {
  display: flex;
  width: 100%;
  min-height: $vr*10;
  background: #FFF;
}

.overview-stages__stage, .overview-category__stage {
  width: percentage(1/$numColumnsSmall);
}

.overview-stages__stage {
  border-top: $vr solid transparent;
  height: 100%;
  align-items: center;
  display: flex;
  padding: $vr;
  line-height: 1.2;
  font-size: 14px;
  overflow: hidden;

  &:first-child {
    display: none;
  }

  &.overview-stages__stage--1 {
    border-color: $stage-1-color;
  }

  &.overview-stages__stage--2 {
    border-color: $stage-2-color;
  }

  &.overview-stages__stage--3 {
    border-color: $stage-3-color;
  }

  &.overview-stages__stage--4 {
    border-color: $stage-4-color;
  }

  &.overview-stages__stage--5 {
    border-color: $stage-5-color;
  }

  &.overview-stages__stage--6 {
    border-color: $stage-6-color;
  }
}

.overview-category {
  display: flex;
  position: relative;
  border-top: 1px solid #CCC;
  padding-top: $vr*6;
  margin-bottom: $vr*2;
}

.overview-category__heading {
  position: absolute;
  top: 0;
  padding: $vr;
}

@media(min-width: $break-point-b-px) {

  .overview-stages__stage, .overview-category__heading, .overview-category__stage {
    width: percentage(1/$numColumns);
  }

  .overview-stages__stage {
    font-size: 16px;

    &:first-child {
      display: flex;
    }
  }

  .overview-category {
    padding-top: $vr*2;
  }

  .overview-category__heading {
    position: relative;
    font-size: 16px;
    padding: $vr*2 $vr;
  }

}

@media(min-width: $break-point-f-px) {

  .overview-stages__stage, .overview-category__heading {
    font-size: 18px;
  }
}