$numColumnsSmall: 7;
$numColumns: 8;
.overview {
	padding: 44px 0 $vr*9 0;
	transform: padding 0.3s ease;
	&.filters-open {
		padding-top: 202px;

		@media #{$BPE} {
			padding-top: 172px;
		}
	}
}

.overview-stages {
	display: flex;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 36px;
	bottom: 0;
	left: 0;

	// required to force text to wrap in IE10
	.overview-stages__stage {
		position: relative;
		span {
			max-width: 100%;
			display: block;
			height: 28px;
			overflow: hidden;
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.overview-stages__stage,
.overview-category__stage {
	flex: 1 1;
	min-width: 0;

	&.overview-category__stage--cols-1 {
		display: flex;
		flex-wrap: wrap;
		li {
			width: 50%;
			margin-bottom: 10px;

			@media #{$BPD} {
				width: 20%;
			}
		}
	}
}

.overview-stages__stage.brand,
.no-flexbox .overview-stages__stage,
.no-flexbox .overview-category__stage {
	width: percentage(1/$numColumnsSmall);
	flex: none;

	@media #{$BPE} {
		width: percentage(1/$numColumns);
	}
}


.overview-category__heading {
	flex: none;

	@media #{$BPE} {
		width: percentage(1/$numColumns);
	}
}

.overview-stages__stage {
	height: 100%;
	align-items: center;
	display: flex;
	padding: $vr;
	line-height: 1.2;
	font-size: 12px;
	overflow: hidden;
	font-weight: bold;
	&.overview-stages__stage--1 {
		background: $stage-1-color;
		color: white;
	}
	&.overview-stages__stage--2 {
		background: $stage-2-color;
	}
	&.overview-stages__stage--3 {
		background: $stage-3-color;
	}
	&.overview-stages__stage--4 {
		background: $stage-4-color;
		color: white;
	}
	&.overview-stages__stage--5 {
		background: $stage-5-color;
	}
	&.overview-stages__stage--6 {
		background: $stage-6-color;
		color: white;
	}
	&.overview-stages__stage--7 {
		background: $stage-7-color;
	}
	&.brand {
		display: none;

		@media #{$BPE}{
			display: block;
		}
		h1 {
			font-weight: 400;
			display: inline-block;
		}
		img {
			display: inline-block;
			height: 30px;
			position: relative;
			top: -5px;
			padding-right: 5px;
		}
	}
}

.overview-category {
	position: relative;
	display: flex;
	border-top: 1px solid #CCC;
	padding-top: $vr*6;
	margin-bottom: $vr*2;

	&:first-of-type {
		border-top: none;
	}
}

.overview-category__heading {
	position: absolute;
	top: 0;
	padding: $vr;
	font-weight: 400;
}

@keyframes bcnloader {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}

.overview__loader {
	height: $vr*16;
	width: $vr*16;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -$vr*8;
	margin-left: -$vr*8;
	text-align: center;
	img {
		width: $vr*10;
		animation: bcnloader 1s infinite ease-in-out;
	}
}

@media(min-width: $break-point-e-px) {
	.overview-stages__stage {
		// font-size: 16px;
	}
	.overview-category {
		padding-top: $vr*2;
	}
	.overview-category__heading {
		position: relative;
		font-size: 16px;
		padding: $vr*2 $vr;
	}
}

@media(min-width: $break-point-f-px) {
	.overview {
		padding-top: $vr*13
	}

}
