@import '../../../theme/variables.scss';

.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.home-header {
  background: white;
  background-size: auto 124%;
  padding: 16px 0;
  overflow: auto;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.home-header__logo {
  background: url('/app/images/logo-basic.png') left center no-repeat;
  background-size: 56px auto;
  padding: 0 0 0 64px;
    text-align: left;
    float: left;

  h1 {
    line-height: 1;
    font-size: 1.3em;
    font-weight: 700;
  }

  p {
    margin: 0;
  }
}

.home-start {
  text-align: center;
  padding: 10px 0 20px 0;
  background-size: 42% auto;
}

.home-search {
  margin: 0 auto 20px auto;
  width: 100%;
}

.home-search__input {
  width: 55%;
  margin-right: 10px;
}

.home-filters {
  margin: 0 auto 20px auto;
  position: relative;
  min-height: 145px;

  .tool__loader {
    top: 70%;
  }
}

.home-filters__stages {
  margin: 10px auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;

  
  max-width: 900px;
}

.home-filters__stage {
  margin-bottom: 10px;

  button {
    background: white;
    border: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    padding: 8px 4px;
    line-height: 1.1;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

    &.active {
      color: white;
    }

  }

  &.home-filters__stage--1 {
    button {
    border-bottom: 2px solid $stage-1-color;

    &.active {
      background: $stage-1-color;
    }
    }
  }
  &.home-filters__stage--2 {
    button {
    border-bottom: 2px solid $stage-2-color;

    &.active {
      background: $stage-2-color;
    }
    }
  }
  &.home-filters__stage--3 {
    button {
    border-bottom: 2px solid $stage-3-color;

    &.active {
      background: $stage-3-color;
    }
    }
  }
  &.home-filters__stage--4 {
    button {
    border-bottom: 2px solid $stage-4-color;

    &.active {
      background: $stage-4-color;
    }
    }
  }
  &.home-filters__stage--5 {
    button {
    border-bottom: 2px solid $stage-5-color;

    &.active {
      background: $stage-5-color;
    }
    }
  }
  &.home-filters__stage--6 {
    button {
    border-bottom: 2px solid $stage-6-color;

    &.active {
      background: $stage-6-color;
    }
    }
  }
  &.home-filters__stage--7 {
    button {
    border-bottom: 2px solid $stage-7-color;

    &.active {
      background: $stage-7-color;
    }
    }
  }
  &.home-filters__stage--8 {
    button {
    border-bottom: 2px solid $stage-8-color;

    &.active {
      background: $stage-8-color;
    }
    }
  }
}

.home-info {
  background: white;
  padding: 20px 0;

  h2 {
    margin-bottom: 16px;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.3;
  }

  p {
    font-size: 1em;
    margin-bottom: 16px;
  }
}

.home-info__cta {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  text-align: center;
  padding: $vr*4;
  margin: $vr*3 0;

  h3 {
    padding-top: 0;
  }
}

.home-logos {
  margin: 16px 0;
  display: flex;
  align-items: center;

  li {
    display: inline-block;
    width: 120px;
    margin-right: 20px;
  }

  img {
    max-width: 100%;
  }
}

@media (min-width: 768px) {

  .home-header {
    background: white url(/app/images/homebackground.png) right bottom no-repeat;
    background-size: auto 124%;
  }

  .home-start {
    padding: 40px 0;
  }

  .home-search {
    margin: 0 auto 50px auto;
    width: 80%;
  }

  .home-search__input  {
    width: 70%;
  }

  .home-filters {
    margin: 0 auto 50px auto;
  }

  .home-info-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
  }

  .home-info__cta {
    margin: 0;
  }

}
