<div>

  <header class="home-header">
    <div class="container">
      <div class="home-header__logo">
        <h1>The Asylum Journey</h1>
        <p>By Sheffugees</p>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="home-start">

      <form class="home-search">
        <h2><label for="search">Search for a service</label></h2>
        <p>Search for specific services by keyword</p>
        <input type="search" name="search" id="search" ng-model="home.searchText" placeholder="Search by keyword" class="home-search__input" />
        <button type="submit" ng-click="home.doSearch();" class="button-link">Search</button>
      </form>

      <div class="home-filters">
        <div ng-if="home.showLoader" class="tool__loader">
          <img ng-src="/app/images/loader-logo.svg" alt="Loading" />
          Loading...
        </div>
        <h2>Select a stage</h2>

        <div class="home-filters__stages">

          <div ng-repeat="stage in home.stages" class="home-filters__stage home-filters__stage--{{stage.id}}">
            <button type="button" ng-class="{'active' : stage.selected }"  ng-click="home.selectStage(stage)">
              {{stage.name}}
            </button>
          </div>

        </div>

        <div ng-show="home.showCategories" class="home-filters__categories">
          <h2>Select a category</h2>
          <div class="home-filters__stages">
            <div class="home-filters__stage" ng-repeat="category in home.categories">
              <button type="button"  ng-click="home.go(category)">{{category.name}}</button>
            </div>
            <div class="home-filters__stage">
              <button type="button"  ng-click="home.go()">All</button>
            </div>
          </div>
        </div>

      </div>

      <div class="home-view-all">
        <h2>View all services</h2>
        <p>Start with an overview of all services then filter by stage, category, service users and provider to find the information you need.</p>
        <a class="button-link" href="#/tool">View all services</a>
      </div>
    </div>
  </div>

  <div class="home-info">
    <div class="container">
      <h2>Welcome to the Asylum Journey</h2>

      <p>This website has information about the services and resources for asylum seekers and refugees in Sheffield.</p>

      <p>Covering all stages of the asylum process and all kinds of statutory and informal support, the Asylum Journey will help you provide more informed and holistic advice.</p>

      <p>If you have any comments or feedback, or if you spot any gaps or errors, please contact <a href="mailto:admin@sheffield.cityofsanctuary.org">admin@sheffield.cityofsanctuary.org</a>.</p>

      <h3>The Asylum Journey is supported by:</h3>

      <ul class="home-logos">
        <li><a href="https://www.sheffield.gov.uk/"><img src="./app/images/scc.jpg" alt="Sheffield City Council" /></a></li>
        <li><img src="./app/images/sheffugees.jpg" alt="Sheffugees" /></li>
        <li><a href="https://sheffield.cityofsanctuary.org/"><img src="./app/images/coss.jpg" alt="City of Sanctuary Sheffield" /></a></li>
        <li><a href="http://www.assistsheffield.org.uk/"><img src="./app/images/assist.jpg" alt="Assist" /></a></li>
        <li><a href="http://www.vas.org.uk/"><img src="./app/images/vas.jpg" alt="Voluntary Action Sheffield" /></a></li>
        <li><a href="https://www.yoomee.com/"><img src="./app/images/yoomee.jpg" alt="Yoomee" /></a></li>
      </ul>

    </div>
  </div>
</div>
