<div class="filter-bar"  ng-class="{'filter-bar--open' : tool.showFilters || tool.showAllFilters}">

	<auth-button></auth-button>

	<button class="filter__mobile-toggle" ng-click="tool.toggleMobileFilters()">
		<span ng-if="!tool.showFilters">Filter services</span>
		<span ng-if="tool.showFilters">Close filters</span>
		<svg class="icon">
			<use xlink:href="#icon-filter"></use>
		</svg>
	</button>

	<div class="filter-bar__primary">

		<div class="filter-bar__logo">
			<h1><a ng-href="/" class="logo">The Asylum Journey</a></h1>
		</div>

		<div class="filter-bar__section">
			<div class="filter-bar__section-inner">

				<button type="button" id="stageFilter" class="filter__toggle" ng-class="{ 'filter__toggle--active': tool.expandFilters.stages, 'filter__toggle--many': tool.currentFilters.stages.length > 1}" ng-click="tool.toggleFilter('stages')" aria-haspopup="true" aria-expanded="{{tool.expandFilters.stages}}">
					<strong>Stage:</strong>
					<span ng-if="tool.currentFilters.stages.length === tool.stages.length || tool.currentFilters.stages.length === 0">All</span>

					<span ng-if="tool.currentFilters.stages.length !== tool.stages.length">
						{{tool.currentFilters.stages[0].name}}
						<span class="filter__more-count" ng-if="tool.currentFilters.stages.length > 1">+ {{tool.currentFilters.stages.length - 1}} more</span>
					</span>

					<svg class="icon">
						<use xlink:href="#icon-arrow-down"></use>
					</svg>
				</button>
				<ul class="filter__list" ng-show="tool.expandFilters.stages" aria-labelledby="stageFilter">
					<li class="filter__list-item" ng-repeat="stage in tool.stages">
						<button type="button" class="filter__button" ng-class="{ 'filter__button--active': stage.filtered}" ng-click="tool.filterServices(stage.id, 'stages')">
							{{stage.name}}
						</button>
					</li>
					<li>
	          <button type="button"
	          	class="filter__show-all-button"
	          	ng-click="tool.resetFilterType('stages')"
	          	ng-disabled="!tool.currentFilters.stages.length || tool.currentFilters.stages.length === tool.stages.length"
	          >
	            Show all stages
	         	</button>
          </li>

				</ul>
			</div>
		</div>

		<div class="filter-bar__section">
			<div class="filter-bar__section-inner">
			<button type="button" id="categoryFilter" class="filter__toggle toggle" ng-class="{ 'filter__toggle--active': tool.expandFilters.categories, 'filter__toggle--many': tool.currentFilters.categories.length > 1}" ng-click="tool.toggleFilter('categories')" aria-haspopup="true" aria-expanded="{{tool.expandFilters.categories}}">
				<strong>Category:</strong>
				<span ng-if="tool.currentFilters.categories.length === tool.categories.length || tool.currentFilters.categories.length === 0">All</span>

				<span ng-if="tool.currentFilters.categories.length !== tool.categories.length">
					{{tool.currentFilters.categories[0].name}}
					<span class="filter__more-count" ng-if="tool.currentFilters.categories.length > 1">+ {{tool.currentFilters.categories.length - 1}} more</span>
				</span>

				<svg class="icon">
					<use xlink:href="#icon-arrow-down"></use>
				</svg>
			</button>
			<ul class="filter__list" ng-show="tool.expandFilters.categories" aria-labelledby="categoryFilter">
				<li class="filter__list-item" ng-repeat="category in tool.categories">
					<button type="button" class="filter__button" ng-class="{ 'filter__button--active': category.filtered}" ng-click="tool.filterServices(category.id, 'categories')">
						{{category.name}}
					</button>
				</li>
				<li>
	          <button type="button"
	          	class="filter__show-all-button"
	          	ng-click="tool.resetFilterType('categories')"
	          	ng-disabled="!tool.currentFilters.categories.length || tool.currentFilters.categories.length === tool.categories.length"
	          >
	            Show all categories
	         	</button>
          </li>
			</ul>
			</div>
		</div>

		<div class="filter-bar__section">
			<div class="filter-bar__section-inner">
				<button type="button" class="filter__toggle toggle" ng-class="{ 'filter__toggle--active': tool.currentFilters.provider, 'filter__toggle--many': tool.currentFilters.providers.length > 1}" ng-click="tool.toggleProviderFilters()">
					<strong>Providers:</strong>
						<span ng-if="tool.currentFilters.providers.length === tool.providers.length || tool.currentFilters.providers.length === 0">All</span>
						<span ng-if="tool.currentFilters.providers.length !== tool.providers.length">
						{{tool.currentFilters.providers[0].name}}
						<span class="filter__more-count" ng-if="tool.currentFilters.providers.length > 1">+ {{tool.currentFilters.providers.length - 1}} more</span>
					</span>
						<svg class="icon">
							<use xlink:href="#icon-arrow-down"></use>
						</svg>
				</button>
			</div>
		</div>

		<div class="filter-bar__section filter-search">
			<form class="filter-bar__section-inner" role="search">
				<label class="filter-search__label" for="search">Search by keyword</label>
				<input type="search" name="search" id="search" class="filter-search__input"  ng-model="tool.searchText" placeholder="Search" />
				<button type="submit" ng-click="tool.doSearch()" class="filter-search__button">
					<svg class="icon">
						<use xlink:href="#icon-search"></use>
					</svg>
					<span>Search</span>
				</button>
			</form>
		</div>

		<div class="filter-bar__section filter-bar__section--short">
			<button type="button" class="filter__toggle-button" ng-click="tool.showAll()">Show all</button>
		</div>


		<button type="button" class="filter-bar__more-btn" ng-click="tool.toggleSecondaryFilters()" ng-class="{'filter-bar__more-btn--active' : tool.showAllFilters}" aria-expanded="{{tool.showAllFilters}}" aria-controls="secondaryFilters">
			More options
			<svg class="icon">
				<use xlink:href="#icon-arrow-down"></use>
			</svg>
		</button>
	</div>

	<div id="secondaryFilters" class="filter-bar__secondary">

		<div class="filter-bar__section">
		<div class="filter-bar__section-inner">
			<button type="button" id="serviceUserFilters" class="filter__toggle toggle" ng-class="{ 'filter__toggle--active': tool.expandFilters.serviceUsers, 'filter__toggle--many': tool.currentFilters.serviceUsers.length > 1}" ng-click="tool.toggleFilter('serviceUsers')" aria-haspopup="true" aria-expanded="{{tool.expandFilters.serviceUsers}}">
				<strong>Service user:</strong>
				<span ng-if="tool.currentFilters.serviceUsers.length === tool.serviceUsers.length || tool.currentFilters.serviceUsers.length === 0">All</span>

				<span ng-if="tool.currentFilters.serviceUsers.length !== tool.serviceUsers.length">
					{{tool.currentFilters.serviceUsers[0].name}}
					<span class="filter__more-count" ng-if="tool.currentFilters.serviceUsers.length > 1">+ {{tool.currentFilters.serviceUsers.length - 1}} more</span>
				</span>

				<svg class="icon">
					<use xlink:href="#icon-arrow-down"></use>
				</svg>

			</button>
			<ul class="filter__list" ng-show="tool.expandFilters.serviceUsers" aria-labelledby="serviceUserFilters">
				<li class="filter__list-item" ng-repeat="serviceUser in tool.serviceUsers">
					<button type="button" class="filter__button" ng-class="{ 'filter__button--active': serviceUser.filtered}" ng-click="tool.filterServices(serviceUser.id, 'serviceUsers')">
						{{serviceUser.name}}
					</button>
				</li>
				<li>
	          <button type="button"
	          	class="filter__show-all-button"
	          	ng-click="tool.resetFilterType('serviceUsers')"
	          	ng-disabled="!tool.currentFilters.serviceUsers.length || tool.currentFilters.serviceUsers.length === tool.serviceUsers.length"
	          >
	            Show all service users
	         	</button>
          </li>
			</ul>
			</div>
		</div>



		<div class="filter-bar__section">
			<button type="button" class="filter__toggle-button filter__toggle-button--issues" ng-class="{ 'filter__toggle--active': tool.showIssues}" ng-click="tool.toggleIssues()">
				<svg class="icon icon-warning">
					<use xlink:href="#icon-warning"></use>
				</svg>
				Gaps/Issues
			</button>
		</div>

		<div class="filter-bar__info">
				<button ng-click="tool.openDialog()" class="button help">What do the stages mean?</button>
				<a href="http://goo.gl/forms/3helLLSBgK5qRvpg1" target="_blank" class="feedback button help">Send us feedback</a>
		</div>
	</div>

</div>

<div class="filters__overlay" ng-show="tool.expandFilters.stages|| tool.expandFilters.categories || tool.expandFilters.serviceUsers || tool.expandFilters.providers" ng-click="tool.closeFilters()"></div>
