<article class="details">
  <h2 class="details__heading">
    Providers
  </h2>

  <ul class="filter__list filter__list--overlay">
    <li class="filter__list-item" ng-repeat="provider in tool.providers | orderBy: 'name'">
      <button type="button" class="filter__button" ng-class="{ 'filter__button--active': provider.filtered}" ng-click="tool.filterServices(provider.id, 'providers')">
        {{provider.name}}
      </button>
    </li>
    <li class="filter__list-item">
      <button type="button"
        class="filter__show-all-button"
        ng-click="tool.resetFilterType('providers')"
        ng-disabled="!tool.currentFilters.providers.length || tool.currentFilters.providers.length === tool.providers.length"
      >
        Show all providers
      </button>
    </li>
</ul>
</article>
