body.ngdialog-open {
    width: 100%;
    overflow: hidden;
    height: initial;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 92%;
    max-width: 1200px;
    font-family: freight-sans-pro, sans-serif;

    .touch & {
        height: auto;
        max-height: 600px;
        overflow: scroll;
    }
}
.ngdialog.ngdialog-theme-default {
    padding-top: $vr*5;
    padding-bottom: $vr*5;
}

.ngdialog.ngdialog-theme-default .ngdialog-close {
    right: 6px;
    top: 6px;
}


.details {
    font-size: $font-size-base;
    line-height: 1.5;

    p {
        margin-bottom: $vr*2;
        white-space: pre-line;

    }

    a {
        color: $color-secondary;
    }
    &__heading {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: $vr*2;
        display: flex;
        border-bottom: 2px solid #666;
    }
    &__alert {
        width: $vr*5;
        height: $vr*5;
        margin-right: $vr;
        display: inline-block;
        svg {
            width: 100%;
            height: 100%;
            fill: $color-warning;
        }
        i {
            position: absolute;
            text-indent: -9999999px;
        }
    }
    &__sub-heading {
        font-size: 16px;
        font-weight: bold;
        border-top: 1px solid #CCC;
        padding: $vr*2 0;
    }
    &__service-name {
        font-weight: bold;
        margin-bottom: $vr*2;
    }
    &__provider {
        border-bottom: 1px dotted #CCC;
        margin-bottom: $vr*2;
    }
    &__provider-heading {
        font-weight: 600;
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        -webkit-appearance: none;
        border: 0;
        background: none;
        width: 100%;
        padding: $vr*2 0;
        text-align: left;
    }
    &__provider-indicator {
        color: $color-secondary;
        text-decoration: underline;
        font-weight: normal;
        font-size: $font-size-small;
        margin-left: 6px;
    }

    @media #{$BPD} {
        &__inner {
            display: flex;
        }

        &__section {
            width: 60%;
            padding-right: 20px;

            &+ .details__section {
                width: 40%;
                padding-left: 20px;
                padding-right: 0;
            }
        }

        &__bottom {
            border-top: 1px solid #ccc;
        }

        &__sub-heading.details__sub-heading--providers {
            border-top: none;
            padding-top: $vr;
        }
    }
}

.tag-list {
    margin: $vr*2 0;

    &__tag {
        display: inline-block;
        font-size: $font-size-small;
        background: $grey-b;
        color: white;
        border-radius: 4px;
        padding: 2px 6px;
        margin: 2px 2px 2px 0;
        line-height: 1.2;
    }
}


@each $stage,
$bgcolor in $stages {
    .tag-list__tag--#{$stage} {
        background: $bgcolor;
        color: $color-text;
    }
}
