@import './variables.scss';

button {
  font-family: $font-family-base;
  font-size: inherit;
}

.button {
  display: inline-block;
  border: 0;
  border-bottom: 2px solid $grey-e;
  background: $grey-f;
  box-shadow: none;
  color: $color-text;
  cursor: pointer;
  font-family: $font-family-base;
  font-size: $font-size-small;
  line-height: $line-height-small;
  margin-bottom: 0; // For input.button
  padding: 5px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased; // get rid of faux bolding

    &.help {
        border-color: $color-secondary;
    }

  &:hover,
  &:focus,
  &:active {
    color: $color-text;
  }
}

.button-link {
  border: none;
  outline: none;
  color: $color-white;
  background-color: $color-primary;
  padding: 8px 11px;

  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;

  &:hover, &:focus {
    color: $color-white;
    background-color: darken($color-primary, 20%);
  }
}

.button--primary {
  color: $color-white;
  background-color: $color-primary;
  border-color: darken($color-primary, 20%);

  &:hover, &:focus {
    color: $color-white;
    background-color: darken($color-primary, 20%);
  }
}

.button--secondary {
  color: $color-white;
  background-color: #666;
  border-color: darken(#666, 20%);

  &:hover, &:focus {
    color: $color-white;
    background-color: darken(#666, 20%);
  }
}

.button--medium {
  font-size: $font-size-large;
  line-height: 1;
  padding: 12px;
}

.button--large {
  font-size: $font-size-large;
  line-height: 1;
  padding: 12px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}

.buttons-container {
  padding: $vr*2 0 0 0;
}

button[disabled] {
  background: #ccc;
  border-color: darken(#ccc, 20%);

  &:hover, &:focus {
    background: #ccc;
  }
}