/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

// variables

// Greys
$grey-a: #333;
$grey-b: #666;
$grey-c: #999;
$grey-d: #ccc;
$grey-e: #ddd;
$grey-f: #fbfbfb;

// Aliases
$color-text: $grey-a;

// Stage colours
$stage-1-color: #ef5350;
$stage-2-color: #F5DF65;
$stage-3-color: #4CAF50;
$stage-4-color: #59C8DF;
$stage-5-color: #CCC;
$stage-6-color: #846dce;
$stage-7-color: #f898a9;

$stages: (
	stage-1: $stage-1-color,
	stage-2: $stage-2-color,
	stage-3: $stage-3-color,
	stage-4: $stage-4-color,
	stage-5: $stage-5-color,
	stage-6: $stage-6-color,
	stage-7: $stage-7-color
);

$color-warning: #db2a2a;

// Dimensions
$font-size-html: 100%;
$vertical-rhythm: 6px; // use $vr*X to maintain vertical consistency
$vr: $vertical-rhythm; // Alias

// Typography
$font-family-sans-serif: freight-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Georgia Pro', Georgia, Times, serif;
$font-family-mono: 'Anonymous Pro', 'Droid Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, 'Lucida Console', Courier, monospace;
$font-family-base: $font-family-sans-serif;

// Font Sizing
$font-size-large: 21px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
$line-height-base: 1.5; // 24px
$line-height-small: $vr*3; // 18px

$font-weight-bold: 700; // 700 when not using $font-face
$font-weight-medium: 600; // 600 when not using $font-face
$font-weight-regular: 400; // 400 when not using $font-face
$font-weight-light: 100; // 100 when not using $font-face

// Media Query Break Points (px & em)
$break-point-a-px: 320px;
$break-point-a-em-val: 320 / 16;
$break-point-a-em: #{$break-point-a-em-val}em;
// Set to -px or -em
$break-point-a: $break-point-a-em;

$break-point-b-px: 480px;
$break-point-b-em-val: 480 / 16;
$break-point-b-em: #{$break-point-b-em-val}em;
// Set to -px or -em
$break-point-b: $break-point-b-em;

$break-point-c-px: 600px;
$break-point-c-em-val: 600 / 16;
$break-point-c-em: #{$break-point-c-em-val}em;
// Set to -px or -em
$break-point-c: $break-point-c-em;

$break-point-d-px: 768px;
$break-point-d-em-val: 768 / 16;
$break-point-d-em: #{$break-point-d-em-val}em;
// Set to -px or -em
$break-point-d: $break-point-d-em;

$break-point-e-px: 980px;
$break-point-e-em-val: 980 / 16;
$break-point-e-em: #{$break-point-e-em-val}em;
// Set to -px or -em
$break-point-e: $break-point-e-em;

$break-point-f-px: 1200px;
$break-point-f-em-val: 1200 / 16;
$break-point-f-em: #{$break-point-f-em-val}em;
// Set to -px or -em
$break-point-f: $break-point-f-em;

$break-point-g-px: 1400px;
$break-point-g-em-val: 1400 / 16;
$break-point-g-em: #{$break-point-g-em-val}em;
// Set to -px or -em
$break-point-g: $break-point-g-em;

// For break point shorthands
$BPA: "(min-width:" $break-point-a")";
$BPB: "(min-width:" $break-point-b")";
$BPC: "(min-width:" $break-point-c")";
$BPD: "(min-width:" $break-point-d")";
$BPE: "(min-width:" $break-point-e")";
$BPF: "(min-width:" $break-point-f")";
$BPG: "(min-width:" $break-point-g")";

// reset

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// global

* {
	-webkit-tap-highlight-color: transparent;
	word-wrap: break-word;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	background: $grey-f;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Disable iOS/WinMobile font size changes
	@media screen and (max-device-width: 480px) {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}

body {
	color: $color-text;
	font-family: $font-family-base;
	font-weight: $font-weight-regular;
	line-height: $line-height-base;
}

img {
	-ms-interpolation-mode: bicubic;
}

strong {
	font-weight: bold;
}

.button {
    display: inline-block;
    font-size: $font-size-small;
    border: 0px solid $grey-f;
    border-bottom: 2px solid $grey-e;
    background: $grey-f;
    &.help {
        float: right;
        margin-right: $vr*2;
        border-color: $stage-4-color;
    }
}



.info {
    h2 {
        padding: $vr 0;
        font-weight: 400;
        font-size: $font-size-large;
    }
    h3 {
        padding: $vr 0;
        font-weight: 600;
        font-size: $font-size-base;
    }
    p {
        padding: $vr 0;
        font-size: $font-size-base;
    }
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
