.ngdialog.ngdialog-theme-default.auth-modal .ngdialog-content {
    max-width: 740px;
}

.auth {
	&__heading {
		text-align: center;
	}

	&__toggle {
		position: fixed;
        z-index: 10;
        bottom: 80px;
        left: -23px;
	}

    &__button {
        background: #666;
        color: white;
        font-size: $font-size-base;
        font-weight: 600;
        border: none;
        -webkit-appearance: none;
        padding: 4px 6px;
        text-align: left;
        transform: rotate(90deg);
        width: 78px;
        position: absolute;
        bottom: 0;
        left: 0;

        svg {
          width: 14px;
          height: 14px;
          fill: white;
          vertical-align: middle;
          transform: rotate(180deg);
        }

        &.active {

            left: 140px;

            svg {
                transform: rotate(0);
            }
        }

        &:hover, &:focus {
            background: #999;
        }
    }

    &__menu-holder {
        position: relative
    }

    &__menu {
        position: absolute;
        width: 140px;
        background: #666;
        color: white;
        bottom: -23px;
        left: 23px;

        a {
            color: white;
            padding: 6px 6px;
            display: block;
            text-decoration: none;
        }

        button {
            background: none;
            border: none;
            -webkit-appearance: none;
            width: 100%;
            text-align: left;
        }

        a, button {
            &:hover, &:focus {
                background: #999;
            }
        }
    }

    &__menu-item {
        border-bottom: 1px solid rgba(255,255,255,0.6);

        &:last-child {
            border-bottom: none;
        }
    }

    @media #{$BPE} {

        &__toggle {
            bottom: 0;
            left: 0;
        }

        &__button {
            transform: rotate(0);
            width: auto;
            position: relative;

            &.active {
                left: auto;
            }
        }

        &__menu {
            bottom: 32px;
            left: auto;
        }

    }
}
