<div class="auth__toggle" ng-controller="AuthController as $ctrl">
  <button type="button" class="auth__button" ng-if="!$ctrl.AuthService.isAuthenticated" ng-click="$ctrl.logInModal()"`>
  	Log in
  </button>

  <div ng-if="$ctrl.AuthService.isAuthenticated" class="auth__menu-holder">

    <button type="button" class="auth__button"
      ng-click="$ctrl.options.show = !$ctrl.options.show"
      ng-class="{'active': $ctrl.options.show}">
    	Admin
      <svg class="icon">
        <use xlink:href="#icon-arrow-down"></use>
      </svg>
    </button>

    <ul class="auth__menu" ng-show="$ctrl.options.show">
      <li class="auth__menu-item">
          <a href="/services/new">
            Add service
          </a>
        </li>
        <li class="auth__menu-item">
          <a href="/providers/new">
            Add provider
          </a>
        </li>
        <li class="auth__menu-item">
          <a href="/providers">
            Manage providers
          </a>
        </li>
        <li class="auth__menu-item">
          <button type="button" ng-click="$ctrl.AuthService.logOut()">Log out</button>
        </li>
    </ul>
  </div>
</div>
