<div class="info">

  <h2>Categories</h2>

  <h3 class="info__subtitle">Asylum process and legal advice</h3>
  <p>TBC</p>

  <h3 class="info__subtitle">Housing and accommodation</h3>
  <p>TBC</p>

  <h3 class="info__subtitle">Resources (clothing, food, etc)</h3>
  <p>TBC</p>

  <h3 class="info__subtitle">Finance (personal)</h3>
  <p>TBC</p>

  <h3 class="info__subtitle">Health and social care</h3>
  <p>TBC</p>

  <h3 class="info__subtitle">Support for victims of crime and abuse</h3>
  <p>TBC</p>

  <h3 class="info__subtitle">Adult education and skills</h3>
  <p>TBC</p>

  <h3 class="info__subtitle">Children's education and services</h3>
  <p>TBC</p>

  <h3 class="info__subtitle">Things to do</h3>
  <p>TBC</p>

  <h3 class="info__subtitle">Employment</h3>
  <p>TBC</p>
</div>
