<div ng-controller="SearchController as $ctrl">
  <h2>Search results for "{{ $ctrl.searchTerm }}" ({{ $ctrl.searchResults.length }} results)</h2>

  <div ng-if="$ctrl.showLoader" class="tool__loader">
    <img ng-src="/app/images/loader-logo.svg" alt="Loading" />
    Loading...
  </div>

  <ul ng-if="!$ctrl.showLoader">
    <li ng-repeat="item in $ctrl.searchResults" class="search-result">
      <a ng-if="item.isResource" ng-href="{{item.url}}" target="_blank" rel="noopener noreferrer" class="search-result__title">
        <strong ng-if="item.expired" class="search-result__expired">Expired:&nbsp;</strong>{{item.name}} (Printable resource)
      </a>
      <button ng-if="!item.isResource" ng-click="$ctrl.showService(item.id)" class="search-result__title">
        <strong ng-if="item.hidden">DRAFT:&nbsp;</strong>{{ item.name }}
      </button>
      <span ng-if="item.description" class="search-result__description">{{ item.description | stripHTML | limitTo: 200}}...</span>
    </li>
  </ul>
</div>