<div class="info">

  <h2>Stages</h2>

  <h3 class="info__subtitle border-stage-1">Arrival</h3>
  <p>Services for people newly arrived in Sheffield, including information about making an asylum claim and information for new claimants. </p>

  <h3 class="info__subtitle border-stage-2">Awaiting Decision</h3>
  <p>Services for people who have made an asylum claim and are awaiting a decision from the Home Office. </p>

  <h3 class="info__subtitle border-stage-3">Positive Decision</h3>
  <p>Services for people who have been granted leave to remain and have recourse to public funds and support. </p>

  <h3 class="info__subtitle border-stage-4">Positive Decision - No recourse to public funds</h3>
  <p>Services for people who have been granted leave to remain, but have been denied access to public funds and support. </p>

  <h3 class="info__subtitle border-stage-5">Negative Decision with state support</h3>
  <p>Services for people who have had their asylum claim refused but are still eligible for state support, for example families with children, unaccompanied children, or vulnerable adults. </p>

  <h3 class="info__subtitle border-stage-6">Negative Decision - Destitute</h3>
  <p>Services for people who have had their asylum claim refused and have no access to public funds or support. </p>

  <h3 class="info__subtitle border-stage-7">Gateway Protection Programme/Syrian Resettlement Programme</h3>
  <p>Services for people who moved to Sheffield under the Gateway Protection Programme or the Syrian Resettlement Programme and have already been granted refugee status. </p>

</div>
