[type="text"],
[type="number"],
[type="password"],
[type="tel"],
[type="email"],
[type="search"],
[type="url"],
textarea {
	padding: 10px;
	border: none;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

[type="text"],
[type="number"],
[type="password"],
[type="tel"],
[type="email"],
[type="url"],
textarea {
	width: 100%;

	.form--inline & {
		width: auto;
	}
}

.textarea--large {
	height: $vr*35;
}

label {
	padding-right: 0.5em;
	display: block;

	.form--inline & {
		display: inline;
	}
}

.form {
	&__group,
	&__actions {
		margin: $vr*2 0;
	}

	&--inline {
		display: flex;
		flex-direction: column;

		@media(min-width: $break-point-d-px) {
			flex-direction: initial;
			justify-content: center;
			align-items: center;

			> * + * {
				margin-left: 1em;
			}
		}
	}
}

.validation {
	font-size: $font-size-small;

	&--success {
		color: green;
	}

	&--error {
		color: $color-warning;
	}
}

.form-page {
	max-width: 600px;
	margin: 0 auto;
	padding: $vr*4 0;

	h1 {
		font-size: $font-size-large;
	}
}
