.info {
    h2 {
        padding: $vr 0;
        font-weight: 400;
        font-size: $font-size-large;
    }
    h3 {
        padding: $vr 0;
        font-weight: 600;
        font-size: $font-size-base;
    }
    p {
        padding: $vr 0;
        font-size: $font-size-base;
    }
}
