h2 {
    margin: $vr 0;
    font-weight: $font-weight-medium;
    font-size: $font-size-large;
}

h3 {
    padding: $vr 0;
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
}

p {
    margin: $vr 0 $vr*2;
    font-size: $font-size-base;
}
