.admin-bar {
  min-height: 48px;
  background: white;
  width: 100%;
  // position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
  // padding-top: 44px;
  margin-bottom: $vr*2;
  padding: 0 0 0 50px;

  @media #{$BPD} {
    padding: 0 80px 0 60px;
  }

  .button-link {
    margin: $vr $vr $vr $vr*4;
  }
}


.admin-bar__logo {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 10px;
  top: 8px;

  h1 {
    height: 100%;
  }

  @media #{$BPD} {
    height: 47px;
    width: 47px;
    left: 5px;
    top: 4px;
    // top: 15px;
  }

  @media #{$BPE} {
    left: 10px;
    // top: 20px;
  }
}
